.popup__list{
  display: flex;
  width: 358px;
  width: auto;
  flex-direction: column;
  margin-left: 36px;
  justify-content: start;
  padding: 0px;
  border-style: none;
}  

@media (max-width : 520px) {
  .popup__list{
    margin-left: 20px;
    margin-bottom: 36px;
  }
}  



