@import url(./__copyright/footer__copyright.css);

.footer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 1000px;
  margin: auto;
  padding-bottom: 36px;
  margin-top: 66px;
}

@media (max-width : 1280px) {
  .footer {
    width: 882px;
  }
}

@media (max-width : 1023px) {
  .footer {
    width: 600px;
  }
}

@media (max-width : 767px) {
  .footer {
    margin-top: 48px;
  }
}

@media (max-width : 650px) {
  .footer {
    width: 282px;
  }
}

