@import url(./__logo/header__logo.css);
@import url(./__current-user-mail/header__current-user-mail.css);
@import url(./__redirect-button/header__redirect-button.css);
@import url(./__redirect-button/_logout/header__redirect-button_logout.css);

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  width: 1000px;
  margin: auto;
  padding-top: 45px;
  margin-bottom: 0px;
  border-bottom: 1px rgba(255,255,255,0.3) solid;
}

@media (max-width : 1280px) {
  .header {
    width: 882px;
  }
}

@media (max-width : 1023px) {
  .header {
    width: 720px;
  }
}

@media (max-width : 767px) {
  .header {
    width: 100%;
    margin: 0px;
  }
}
